@import '../../variables.scss';

.conversationPage {
    width: 100vw;
    height: 100vh;
    background-color: $Black;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conversationContainer {
    width: 380px;
    height: 662px;
    background-color: $Black;
    position: fixed;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
    &::-webkit-scrollbar {
        display: none;
    }
    
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.conversationContainer::before {
    content: '';
    flex-grow: 1;
}

.fadeOverlay {
    width: 380px;
    height: 68px;
    position: fixed;
    bottom: 846px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, $Black 0%, $Black 20%, transparent 100%);
    pointer-events: none;
    z-index: 10;
}

.managerBubble {
    width: 290px;
    background-color: $Gray-4;
    border-radius: 50px;
    border-top-right-radius: 0;
    padding: 20px 10px 20px 30px;
    margin-bottom: 20px;
    align-self: flex-end;
    word-wrap: break-word;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: $White;
}

.employeeBubble {
    width: 290px;
    background-color: $Gray-5;
    border-radius: 50px;
    border-top-left-radius: 0;
    padding: 20px 10px 20px 30px;
    margin-bottom: 20px;
    align-self: flex-start;
    word-wrap: break-word;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: $White;
}

.actionsPanel {
    width: 100vw;
    height: 250px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $Gray-1;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 60px;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttonWrapper {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}