@import '../../../../variables.scss';

.playButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $Gray-1;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &.pressed {
    background-color: $Gray-3;
  }
}

.playIcon {
  width: 0;
  height: 0;
  border-left: 15px solid $White;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  margin-left: 3px;
}
