@import "../../variables.scss";

.fadeOverlay {
  width: 380px;
  height: 70px;
  position: fixed;
  bottom: 848px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to bottom, $Black 0%, $Black 20%, transparent 100%);
  pointer-events: none;
  z-index: 1;
}

.burgerMenuWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

.teamMemberInsightsContainer {
  width: $main_width;
  height: $main_height;
  background-color: $Black;
  padding: 44px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .teamMemberInsightsContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;

    .teamMemberInsightsText {
      color: $White;

      h1 {
        font-size: 26;
        color: $Deloitte-green;
      }
      ul {
        all: initial;
        color: $White;
      }
      .candidateName {
        font-style: italic;
      }
      .predError {
        color: $Red;
        font-style: italic;
      }
    }
  }
  .teamMemberInsightsFooter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


$max-width: 420px;
$section-gap: 30px;

.card {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  overflow-y: auto;
  scrollbar-width: none;
  flex: 1;
  min-height: 0;
}

.header {
  margin-bottom: 20px;
  display: block;

  .title {
    color: $Deloitte-green;
    font-size: 24px;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 300;
    margin: 0 0 10px 0;
  }

  .candidateName {
    font-family: 'Open Sans Light', sans-serif;
    font-style: italic;
    font-size: 20px;
    color: $White;
    margin: 0 0 14px 0;
  }
}

.section {
  margin-bottom: $section-gap;
  font-family: 'Open Sans', sans-serif;
  color: $White;

  h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
  }

  ul.infoList,
  ul.riskSignals,
  ul.actionsList {
    list-style: none;
    padding: 0;
    margin: 0;
    color: $White;

    li {
      margin: 8px 0;
      font-size: 16px; 
    }
  }

  .value {
    font-family: 'Open Sans Light', sans-serif;
  }

  .driversList,
  .blockersList {
    list-style: disc;
    padding-left: 60px;
    font-family: 'Open Sans Light', sans-serif;
  }

  .parallelList,
  .supportList,
  .recommendedList,
  .acknowledgedList {
    list-style: disc;
    padding-left: 60px;
    font-family: 'Open Sans Light', sans-serif;

    li:last-child {
      margin-bottom: 8px;
    }
  }

}

.predError {
  color: $Red;
  font-style: italic;
}
