$Deloitte-green: #86bc25;
$Black: #000000;
$White: #ffffff;
$Gray-1: #191919;
$Gray-2: #141414;
$Gray-3: #282828;
$Gray-4: #2c2c2c;
$Gray-5: #75787b;
$Red: #da291c;

$main_width: 440px;
$main_height: 956px;
