@use "../../variables.scss" as *;

.menuContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  color: white;
  overflow: hidden;
}

/* .burgerMenuWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px; 
} */

.greeting {
  position: absolute;
  top: 280px;
  left: 30px;
  width: 159px;
  height: 33px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #ffffff;
  margin: 0;
  white-space: nowrap;
}

.readyText {
  position: absolute;
  top: 333px;
  left: 30px;
  width: 340px;
  height: 105px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #ffffff;
  margin: 0;
}

.supportText {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
}

.recordingButtonWrapper {
  position: absolute;
  top: 817px;
  left: 180px;
  width: 80px;
  height: 80px;
}
