@use "./../../variables" as *;

#modal-menu {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background-color: transparent;
    font-size: 16px;
}

#modal-menu__content {
    z-index: -2;
    width: 340px;
    height: 100vh;
    background-color: $Gray-2;
    font-size: 16px;
}

#search {
    position: relative;
    top: 70px;
    left: 30px;
    opacity: 1;
}

#search__input {
    height: 40px;
    width: 280px;
    border-radius: 10px;
    background-color: $Gray-4;
    border: none;
    padding-left: 40px;
    font-size: 18px;
    color: white;
}

#search__input::placeholder {
    color: white;
}

#search__icon {
    position: absolute;
    color: white;
    left: 9px;
    top: 10px;
}

.entries {
    position: absolute;
    color: white;
    left: 30px;
    top: 130px;
    font-size: 18px;
}

#clients {
    position: absolute;
    color: white;
    left: 30px;
    top: 175px;
}

.client {
    padding: 10px 0
}

.client__name {
    font-size: 18px;
}

.client__last-update {
    font-size: 14px;
    opacity: 75%;
}