@use "./../../variables" as *;

#modal-menu {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  font-family: "Open Sans Light", sans-serif;
  font-size: 16px;
  color: $White;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border: none;
  padding: 0;
  margin: 0;
}

#modal-menu__content {
  width: 340px;
  height: 100vh;
  background-color: $Gray-2;
  font-size: 16px;
  position: relative;
  z-index: 1;
}

#search {
  position: relative;
  top: 70px;
  left: 30px;
  opacity: 1;
}

#search__input {
  height: 40px;
  width: 280px;
  border-radius: 20px;
  background-color: $Gray-4;
  border: none;
  padding-left: 40px;
  font-size: 18px;
}

#search__input::placeholder {
    font-family: "Open Sans Light", sans-serif;
    color: white;
}

#search__icon {
  position: absolute;
  left: 9px;
  top: 10px;
}

.entries {
  position: absolute;
  left: 30px;
  top: 140px;
  font-size: 18px;
}

#clients {
  position: absolute;
  left: 30px;
  top: 175px;
}

.client {
  padding: 10px 0;
}

.client__name {
  font-size: 18px;
  font-family: "Open Sans Light", sans-serif;
}

.client__last-update {
  font-size: 14px;
  font-family: "Open Sans Light", sans-serif;
  opacity: 75%;
}
