@import '../../../../variables.scss';

.audioRecording {
  width: 100%;
  height: 72px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  
  // Center progress indicator line
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: $Deloitte-green;
    z-index: 10;
    pointer-events: none;
  }
  
  // Mask to hide right side
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 5;
    pointer-events: none;
  }
}

.waveform {
  width: 50%;
  height: 72px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  
  &::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
  
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  
  // Additional scrollbar hiding for nested elements
  & * {
    &::-webkit-scrollbar {
      display: none !important;
      width: 0 !important;
      height: 0 !important;
    }
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
}
