@import '../../../../variables.scss';

.stopButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $Gray-1;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &.pressed {
    background-color: $Gray-3;
  }
}

.stopIcon {
  width: 20px;
  height: 20px;
  background-color: $White;
  border-radius: 2px;
}
